:root {
  --primary: rgb(243, 243, 243);
  --secondary: rgb(2, 2, 17);
  /* --paragraph: rgb(241, 248, 246); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ########################################### */
/* GENERAL CONFIGURATION */
/* ########################################### */

body {
  font-size: 62.5%;
}

@font-face {
  font-family: Boldonse;
  src: url(../FONTS/Boldonse-Regular.ttf);
}

@font-face {
  font-family: openbold;
  src: url(../FONTS/OpenSans_Condensed-ExtraBold.ttf);
}

@font-face {
  font-family: opensemi;
  src: url(../FONTS/OpenSans_Condensed-SemiBold.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../FONTS/Roboto.ttf);
}

.fab,
.fas {
  font-size: 1.1em;
}

h1,
h2 {
  font-family: Boldonse;
}
h3,
h4,
h5 {
  font-family: openbold;
  font-size: 1.6em;
}

a {
  font-family: opensemi;
  font-size: 1.5em;
}

p {
  font-family: roboto;
  font-size: 1.5em;
}

/* ########################################### */
/* ########################################### */

.navigation {
  background-color: var(--secondary);
  display: flex;
  padding: 1.5em 5%;
  align-items: center;
  box-shadow: 0 0 1em rgba(1, 0, 0, 0.53);
  position: sticky;
  top: 0;
}

.my-social-links {
  margin-left: auto;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.my-social-links a {
  color: var(--primary);
}
.navigation ul {
  margin-left: 4em;
  display: flex;
  list-style: none;
  gap: 5%;
}
.navigation ul a {
  color: var(--primary);
  text-decoration: none;
}
.navigation h2 a {
  background-image: linear-gradient(220deg, blue, rgb(220, 119, 119));
  -webkit-text-fill-color: text;
  background-color: transparent;
  color: transparent;
  background-clip: text;
  text-decoration: none;
}
.sub-section{
  padding: 20px 40px;
}
.sub-about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abt-me-container-img{
  background-image: url(../image/web_pic-removebg-preview.png);
  width: 40%;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.abt-me-container{
  display: flex;
  align-items: center;
  gap: 3em;
  padding-top: 30px;
}
.article header{
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-bottom: 20px;
}
.personnal-details{
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.personnal-details section{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 50%;
  color: rgb(63, 63, 63);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.facts{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.Sub-facts-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Sub-facts{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

.Sub-facts div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Sub-facts div h1{
  font-size:4em;
  margin-bottom: 1em;
}

.sub-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 3em 0;
  background-color: lightgray;
}

.sub-section-2 .copy p {
  font-size: 1.2em;
}

.sub-section-2 .my-social-links-2 {
  display: flex;
  gap: 2em;
}
.sub-section-2 .my-social-links-2 i {
  color: blue;
  font-size: 2em;
  transition: all .2s ease-out;
}

.sub-section-2 .my-social-links-2 i:hover {
  transform: scale(1.4, 1.4);
  color: #000;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.718);
}
@media (max-width:721px) {
  .abt-me-container{
    flex-direction: column;
  }
.abt-me-container-img{
  width: 100%;
}
.personnal-details{
  flex-direction: column;
}
.Sub-facts{
  flex-direction: column;
}

}


  